.order-box {
  width: 87%;
  margin: 15px auto;
}

.order-title {
  background-color: black;
  color: white;
  font-weight: bold;
  width: 90px;
  text-align: center;
  font-size: 0.8em;
  padding: 3px;
}

.order-table-box {
  border: 2px solid black;
  padding: 15px 10px;
}